
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Listado de Clientes</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            font-family: Arial, sans-serif;
            padding: 20px;
        }

        .container {
            max-width: 600px;
            margin: 0 auto;
        }

        .page-title {
            font-size: 24px;
            margin-bottom: 20px;
        }

        .link-item {
            display: block;
            padding: 10px;
            margin-bottom: 5px;
            background-color: #007bff;
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
        }

            .link-item:hover {
                background-color: #0056b3;
                color: #fff;
            }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="page-title">Listado de Clientes</h1>
        <p>xxxxxxxxxx</p>
        <a href="@Url.Action("Alta", "Clientes")" class="link-item">Alta de clientes</a>
        <a href="@Url.Action("Index", "Home")" class="link-item">Retornar a página principal</a>
    </div>
</body>
</html>
